#btn1:hover,#btn2{
  background-color: white;
  color: #3A8274;
}
#btn1,#btn2:hover{
  background-color: #3A8274;
  color: white;
  border: 1px solid #3A8274;
}
.image{
  filter: brightness(35%);
}
#box3{
  background-image: url("https://media.timeout.com/images/105721364/image.jpg");
  height: 150vh;
  margin-top: 50px;
  width: 100%;
  filter: brightness(35%);
  background-repeat: no-repeat;
  background-size: cover;
}
@media(min-width: 300px) and (max-width: 500px){
  .mynav{
    margin-top: -300px;
  }
  #nav1{
    font-size: 10px;
  }
  /* #joinh1{
    font-size: 20px;
  } */
}
@media(min-width: 1300px){
  .mynav{
    margin-top: -1200px;
  }
}
